.chat-container {
    width: 350px;
    height: 600px;
    background: #ffffff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0px 4px 18px rgba(0,0,0,0.15);
}


.chat-header {
    padding: 2px;
    background: #111827;
    color: white;
    text-align: center;
}

.chat-body {
    flex: 1;
    padding: 12px;
    overflow-y: auto;
    background: #f3f4f6;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.message {
    max-width: 70%;
    padding: 10px 14px;
    border-radius: 12px;
    position: relative;
    display: inline-block;
}

.message .text {
    font-size: 14px;
    margin: 0;
    margin-bottom: 4px;
}


.sender-name {
    font-size: 11px;
    opacity: 0.7;
    display: block;
    text-align: right;
}


.message.other {
    background: #fff;
    border: 1px solid #ddd;
    align-self: flex-start;
}

.message.own {
    background: #4f46e5;
    color: white;
    align-self: flex-end;
}


.chat-input-area {
    display: flex;
    padding: 10px;
    border-top: 1px solid #ddd;
    background: #ffffff;
}

.chat-input-area input {
    flex: 1;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid #ddd;
    outline: none;
    font-size: 14px;
}

.send-btn {
    margin-left: 10px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: none;
    background: #4f46e5;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
}

.send-btn:hover {
    background: #4338ca;
}
